@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */
* {
  margin: 0;
  padding: 0;
  background: hsla(0, 0%, 100%, 0.75);
}

@media (max-width: 767px) {
  .card-container {
    display: grid;
    grid-template-columns: mimax(375px, 1fr);
    grid-template-rows: 50vh 50vh 50vh;
    justify-content: center;
    min-height: 100%;
    width: 80vw;
    margin: 5vh 10vw 10vh 10vw;
  }
  .card img {
    padding: 5vh 0vw 3vh 9vw;
    background: transparent;
  }
  .card h1 {
    font-family: "Big Shoulders Display", cursive;
    padding: 0vh 0vw 3vh 9vw;
    text-transform: uppercase;
    font-size: 2.5rem;
    background: transparent;
    color: hsl(0, 0%, 95%);
  }
  .card p {
    font-family: "Lexend Deca", sans-serif;
    margin-left: 9vw;
    padding-right: 12vw;
    padding-bottom: 4vh;
    background: transparent;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 3vh;
  }
  .item-1 {
    grid-column: 1;
    grid-row: 1;
    background: hsl(31, 77%, 52%);
    border-radius: 10px 10px 0px 0px;
  }
  .item-2 {
    grid-column: 1;
    grid-row: 2;
    background: hsl(184, 100%, 22%);
  }
  .item-3 {
    grid-column: 1;
    grid-row: 3;
    background: hsl(179, 100%, 13%);
    border-radius: 0px 0px 10px 10px;
  }
  .button {
    text-decoration: none;
    font-family: "Lexend Deca", sans-serif;
    border-radius: 100px;
    border-color: hsl(0, 0%, 95%);
    border-style: solid;
    border-width: 2px;
    margin-left: 9vw;
    padding: 1vh 7vw 1vh 7vw;
  }

  .item-1 > .button {
    text-decoration: none;
    background: hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%);
    border-style: solid;
  }
  .item-2 > .button {
    text-decoration: none;
    background: hsl(0, 0%, 95%);
    color: hsl(184, 100%, 22%);
    border-style: solid;
  }
  .item-3 > .button {
    text-decoration: none;
    background: hsl(0, 0%, 95%);
    color: hsl(179, 100%, 13%);
    border-style: solid;
  }
  .button:hover {
    background: transparent;
    color: hsl(0, 0%, 95%);
  }
}
@media (min-width: 768px) {
  .card-container {
    display: grid;
    grid-template-columns: minmax(255px, 1fr) minmax(255px, 1fr) minmax(
        255px,
        1fr
      );
    justify-content: center;
    height: 54vh;
    width: 50vw;
    margin: 20vh 25vw 10vh 25vw;
    position: relative;
  }

  .card img {
    padding: 5vh 0vw 3vh 2.5vw;
    background: transparent;
  }
  .card h1 {
    font-family: "Big Shoulders Display", cursive;
    padding: 0vh 0vw 3vh 2.5vw;
    text-transform: uppercase;
    font-size: 2.5rem;
    background: transparent;
    color: hsl(0, 0%, 95%);
  }
  .card p {
    font-family: "Lexend Deca", sans-serif;
    margin-left: 2.5vw;
    padding-right: 3vw;
    padding-bottom: 10vh;
    background: transparent;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 3vh;
  }
  .item-1 {
    grid-column: 1;
    background: hsl(31, 77%, 52%);
    border-radius: 10px 0px 0px 10px;
  }
  .item-2 {
    grid-column: 2;
    background: hsl(184, 100%, 22%);
  }
  .item-3 {
    grid-column: 3;
    background: hsl(179, 100%, 13%);
    border-radius: 0px 10px 10px 0px;
  }
  .button {
    text-decoration: none;
    font-family: "Lexend Deca", sans-serif;
    border-radius: 100px;
    border-color: hsl(0, 0%, 95%);
    border-style: solid;
    border-width: 2px;
    margin-left: 2.5vw;
    padding: 1vh 1.5vw 1vh 1.5vw;
  }

  .item-1 > .button {
    text-decoration: none;
    background: hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%);
    border-style: solid;
  }
  .item-2 > .button {
    text-decoration: none;
    background: hsl(0, 0%, 95%);
    color: hsl(184, 100%, 22%);
    border-style: solid;
  }
  .item-3 > .button {
    text-decoration: none;
    background: hsl(0, 0%, 95%);
    color: hsl(179, 100%, 13%);
    border-style: solid;
  }
  .button:hover {
    background: transparent;
    color: hsl(0, 0%, 95%);
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
